@page
@model Sunny_Proyecto.Pages.Datos_Academicos_service.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Quieres borrar esto?</h3>
<div>
    <h4>Datos Academicos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datos_Academicos.Escuela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datos_Academicos.Escuela)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datos_Academicos.Nivel_escolar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datos_Academicos.Nivel_escolar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datos_Academicos.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datos_Academicos.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datos_Academicos.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datos_Academicos.Matricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datos_Academicos.Carrera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datos_Academicos.Carrera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datos_Academicos.Cuatrimestre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datos_Academicos.Cuatrimestre)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Datos_Academicos.Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">volver a la lista</a>
    </form>
</div>
